*{
    box-sizing: border-box;
}

body{
    background: bisque;
    margin: auto;
}

.home--div{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.home-header--div{
    position: absolute;
    top: 0;
    width: 100%;
}

.home-main--div{
    position: absolute;
}

.home-footer--div{
    position: absolute;
    bottom: 0;
    width: 100%;
}
